@page
@model trip_chill_view.Pages.loginModel
@{
}
    <div class="login_height">
        <div class="ui-dialog">
            <div class="d-flex justify-content-between align-items-center px-sm-3">
                <h5 class="mb-0">會員登入</h5>
                <div class="text-center my-3">沒有帳號 ?<a asp-page="/register" class="pl-1"><u>快速註冊</u></a></div>
            </div>
            <div class="ui-dialog-content">
                <div class="d-flex justify-content-between  my-4">
                    <div class="ui-dialog-fb btnFBLogin">
                        <div>
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="ui-dialog-google btnGGLogin">
                        <div>
                            <svg class="google-logo" width="39" height="39" viewBox="-6 -6 30 30" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.64 9.20443C17.64 8.56625 17.5827 7.95262 17.4764 7.36353H9V10.8449H13.8436C13.635 11.9699 13.0009 12.9231 12.0477 13.5613V15.8194H14.9564C16.6582 14.2526 17.64 11.9453 17.64 9.20443Z" fill="#4285F4"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99976 18C11.4298 18 13.467 17.1941 14.9561 15.8195L12.0475 13.5613C11.2416 14.1013 10.2107 14.4204 8.99976 14.4204C6.65567 14.4204 4.67158 12.8372 3.96385 10.71H0.957031V13.0418C2.43794 15.9831 5.48158 18 8.99976 18Z" fill="#34A853"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.96409 10.7101C3.78409 10.1701 3.68182 9.59325 3.68182 9.00007C3.68182 8.40689 3.78409 7.83007 3.96409 7.29007V4.95825H0.957273C0.347727 6.17325 0 7.5478 0 9.00007C0 10.4523 0.347727 11.8269 0.957273 13.0419L3.96409 10.7101Z" fill="#FBBC05"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99976 3.57955C10.3211 3.57955 11.5075 4.03364 12.4402 4.92545L15.0216 2.34409C13.4629 0.891818 11.4257 0 8.99976 0C5.48158 0 2.43794 2.01682 0.957031 4.95818L3.96385 7.29C4.67158 5.16273 6.65567 3.57955 8.99976 3.57955Z" fill="#EA4335"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="ui-dialog-line btnLineLogin">
                        <div>
                            <img src="/img/Line.svg" width="24">
                        </div>
                    </div>
                </div>
                <div class="ui-dialog-separator">
                    <p>或使用會員帳號密碼登入</p>
                </div>
                <div class="ui-dialog-l40 mb-3">
                    <input type="text" maxlength="16" id="login_id" class="ui-dialog-input" placeholder="帳號 ( 請輸入英數字組合 )" autocomplete="off">
                </div>
                <div class="ui-dialog-l40 mb-2">
                    <input type="password" maxlength="16" id="login_Pwd" class="ui-dialog-input" placeholder="密碼 ( 請輸入英數字至少4碼 )" autocomplete="off">
                </div>
                <div class="d-flex justify-content-end align-items-center pb-4 ui-dialog-forget">
                    <div class="pr-1"><a asp-page="/forgetUserID" onclick="doLogin2('/2020/inqacc.aspx');return false;"><u>忘記帳號</u></a></div>
                    <span>｜</span>
                    <div class="pl-1"><a asp-page="/forgetPwd" onclick="doLogin2('/2020/inqpwd.aspx');return false;"><u>忘記密碼</u></a></div>
                </div>
                <a id="ctl00_ContentPlaceHolder1_btnSubmit">
                    <div class="ui-dialog-submit"> 登 入 </div>
                </a>
            </div>
        </div>
    </div>