@page
@model trip_chill_view.Pages.productDetailModel
@{
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous" defer=""></script>
<link rel="stylesheet" href="~/css/intro-group.css">
<div class="content">
    <div class="Wrapper-intro-color position-relative ">

        <div class="collection_button d-sm-block d-none ">
            <div id="ctl00_ContentPlaceHolder1_UpdatePanel4">


                <a class="xlinker" href="https://www.worker360.com.tw/login?ReturnUrl=/video/DiT000462/intro" data-winheight="530" data-winwidth="400">
                    <i class="far fa-heart"></i>
                </a>

            </div>
        </div>
        <div class="share_button d-sm-block d-none ">
            <a href="javascript:void(0);" data-toggle="modal" data-target="#shareModalcoupon" title="分享課程">
                <i class="fas fa-share-alt"></i>
            </a>
        </div>

        <div class="Wrapper-intro-bg">
            <div class="Wrapper-intro-bg2" style="background-image: url(https://gjundisk01.blob.core.windows.net/it360/Video/23b776bb0d1143d59a47b331a17c5b6d.jpg);">
            </div>

            <div class="container">
                <div class="row">
                    <nav id="productDetailBreadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb mt-3">
                            <li class="breadcrumb-item">
                                <a asp-page="/Index">首頁</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a asp-page="/productList">商品列表</a>
                            </li>
                            <li class="breadcrumb-item breadcrumb-last active " aria-current="page">如何順利找到喜歡的工作，幫助你更認識自己的7個問題</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="container top_padding">
                <div class="row position-relative ">

                    <div class="col-md-5 mb-md-auto mb-3 ">

                        <a id="productDetailImg" href="#top" class="video-btn" data-toggle="modal" data-src="l6AhWgukHgE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-target="#myModal">
                            <div class="position-relative">
                                <div class="kong_btn1111"></div>
                                <img src="https://gjundisk01.blob.core.windows.net/it360/Video/975cdbe6c41a4d3f910d11fa8652b048.png" alt="" class="img-fluid " style="border-radius: 12px;">
                            </div>
                        </a>

                    </div>

                    <div class="col-md-7 d-flex flex-column">
                        <div class="intro-title">
                            <h1 class="text-white">如何順利找到喜歡的工作，幫助你更認識自己的7個問題</h1>
                            <div class="d-flex justify-content-between align-content-start">

                                <div class="d-flex">

                                    <div class="share_button2 d-sm-none d-block">
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#shareModalcoupon" title="分享課程">
                                            <i class="fas fa-share-alt px-2">
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column">

                            <div class="w360_buyers d-flex justify-content-sm-start justify-content-between align-items-center mb-sm-2 mb-3 pt-sm-2 flex-wrap">
                                <div class="mb-sm-2 mb-3">購買<span>&nbsp;108&nbsp;</span>人</div>
                            </div>

                        </div>
                        <div class="buy-bar-top d-flex align-items-center justify-content-between">
                            <div>

                                <span class="original_price d-none" style="text-decoration: line-through;"></span>
                                <div class="price d-sm-flex flex-row align-items-sm-center">
                                    <div class="pr-1 d-flex">
                                        NT&nbsp;
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="pr-2">0</div>

                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="flex-shrink-0 ">
                                <div id="ctl00_ContentPlaceHolder1_UpdatePanel2">



                                    <div class="d-none- d-flex align-items-center flex-shrink-0 ">
                                        <a id="ctl00_ContentPlaceHolder1_btnAdd2Cart4"">
                                            <div class="shopping_cart-button" alt="放入購物車" title="放入購物車">
                                                <i class="fas fa-shopping-cart"></i>
                                            </div>
                                        </a>
                                        <a id="ctl00_ContentPlaceHolder1_btnAdd2Cart3" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$btnAdd2Cart3','')">
                                            <div class="buy-button" alt="立即購買" title="立即購買">立即購買</div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

    <div class=" share_ modal bd-example-modal-sm" id="shareModalcoupon" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class=" modal-header mb-2" style="border: 0;">
                    <h5 class="modal-title w-100 text-center pl-4" style="color: rgba(46, 73, 76, 0.87);">
                        分享本課程
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex align-items-start justify-content-around">
                        <a href="javascript:void(0);" class="btnCopy">
                            <div class="share_icon_link mx-auto mb-1">
                                <i class="fas fa-link"></i>
                            </div>
                            <p class="mb-0 text-center">拷貝連結</p>
                        </a>
                        <a class="lineShare" href="javascript:void(window.open('https://social-plugins.line.me/lineit/share?url='+encodeURIComponent('https://www.worker360.com.tw/video/DiT000462?utm_medium=ShareButton&amp;utm_source=LINE&amp;utm_campaign=DiT000462&amp;utm_content=如何順利找到喜歡的工作，幫助你更認識自己的7個問題')));">
                            <div class="share_icon_line">
                                <i class="fab fa-line d-block text-center"></i>
                                <p class="mb-0 text-center">LINE</p>
                            </div>
                        </a>
                        <a class="fbShare" href="javascript:void(window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('https://www.worker360.com.tw/video/DiT000462?utm_medium=ShareButton&amp;utm_source=Facebook&amp;utm_campaign=DiT000462&amp;utm_content=如何順利找到喜歡的工作，幫助你更認識自己的7個問題')));">
                            <div class="share_icon_fbok">
                                <i class="fab fa-facebook d-block text-center mb-1"></i>
                                <p class="mb-0 text-center">Facebook</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="kong modal-footer my-0 justify-content-between">
                </div>
            </div>
        </div>
    </div>

</div>