@page
@model trip_chill_view.Pages.productListModel
@{
    //ViewData["Title"] = "Home page55";
}
<link rel="stylesheet" href="~/css/search-group.css">
<style>
    a.disabled1 {
        /* Make the disabled links grayish*/
        color: #dee2e6;
        /* And disable the pointer events */
        pointer-events: none;
    }
    #ctl00_ContentPlaceHolder1_listDP {
        --bs-pagination-font-size:22px;
    }
</style>
<div class="Wrapper-hot-color">
    <div class="container">
        <div class="col-group-title-hot-01">
            <h3>商品列表</h3>
        </div>
        <div>
            <hr>
        </div>
        <div class="row productListRow">
         <!--   <div class="col-lg-3 col-sm-6 col-12 mt-sm-4 mt-3">
                <div class="col-group-video-card">
                    <a href="https://www.worker360.com.tw/video/DiT000383" class="p-sm-0 p-2">
                        <div class="col-group-video-card-head d-flex flex-sm-column flex-row">
                            <div class="col-group-video-card-img" style="background-image:url(https://gjundisk01.blob.core.windows.net/it360/Video/6f066eb7e38b42dab40a769f9946cf1c.jpg);">
                            </div>
                            <div class="video-flex d-flex flex-column justify-content-sm-between pb-sm-0 px-lg-2 px-md-3 px-sm-2 pt-sm-2 pl-2">
                                <h3 class="col-group-video-card-title">Java 11 1Z0-819認證考試解題技巧</h3>
                            </div>
                        </div>
                        <div class="col-group-video-card-body pt-sm-0 px-lg-2 px-md-3 px-sm-2 pb-sm-2 pb-0 pt-2">
                            <div class="col-group-video-card-footer d-flex justify-content-between  align-items-lg-end align-items-sm-end align-items-center">
                                <div class="d-flex flex-sm-column">
                                    
                                </div>
                                <div class="d-flex justify-content-between flex-row align-items-baseline flex-sm-column">
                                    <div class="col-group-video-card-text-discount invisiblee-320"></div>
                                    <div class="col-group-video-card-text-price pl-sm-0 pl-2">NT$ 3600</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>      
            <div class="col-lg-3 col-sm-6 col-12 mt-sm-4 mt-3">
                <div class="col-group-video-card">
                    <a href="https://www.worker360.com.tw/video/DiT000383" class="p-sm-0 p-2">
                        <div class="col-group-video-card-head d-flex flex-sm-column flex-row">
                            <div class="col-group-video-card-img" style="background-image:url(https://gjundisk01.blob.core.windows.net/it360/Video/6f066eb7e38b42dab40a769f9946cf1c.jpg);">
                                <span class="video-ico"><i class="fas fa-play-circle"></i></span>
                            </div>
                            <div class="video-flex d-flex flex-column justify-content-sm-between pb-sm-0 px-lg-2 px-md-3 px-sm-2 pt-sm-2 pl-2">
                                <h3 class="col-group-video-card-title">Java 11 1Z0-819認證考試解題技巧</h3>
                                <div class="col-group-video-card-text-author text-truncate pb-sm-2 d-sm-block d-none">江聖榮&nbsp;</div>



                                <div id="ctl00_ContentPlaceHolder1_ucHotCourse_Repeater1_ctl00_ctype3" class="col-group-video-card-tag d-inline-block"><span class="">影 音</span></div>

                            </div>
                        </div>
                        <div class="col-group-video-card-body pt-sm-0 px-lg-2 px-md-3 px-sm-2 pb-sm-2 pb-0 pt-2">
                            <div class="col-group-video-card-footer d-flex justify-content-between  align-items-lg-end align-items-sm-end align-items-center">
                                <div class="d-flex flex-sm-column">
                                    <div class=" flex-xl-row flex-lg-column flex-md-row align-items-lg-start align-items-xl-center align-items-center starRating pr-2 pb-sm-1 d-none">
                                        <div class="d-flex ">
                                            <i class="fas fa-star orange"></i>
                                            <i class="fas fa-star orange"></i>
                                            <i class="fas fa-star orange"></i>
                                            <i class="fas fa-star orange"></i>
                                            <i class="fas fa-star orange"></i>
                                        </div>
                                        <span class="col-group-video-card-score d-sm-inline-block d-none pl-xl-1 pl-lg-0 pl-1 pt-md-1 ">(評比 <span class="text-danger">180 </span>筆)</span>
                                    </div>


                                    <div id="ctl00_ContentPlaceHolder1_ucHotCourse_Repeater1_ctl00_time2" class="col-group-video-card-text-date">
                                        <i class="far fa-clock pr-1"></i><span class="d-none">時數：</span>4小時20分
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between flex-row align-items-baseline flex-sm-column">
                                    <div class="col-group-video-card-text-discount invisiblee-320"></div>
                                    <div class="col-group-video-card-text-price pl-sm-0 pl-2">NT$ 1250</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>-->





        </div>
        <div class="d-flex justify-content-center couse-pagination mb-md-4 mb-3 my-5">
            <span id="ctl00_ContentPlaceHolder1_listDP">
                <a class="page-link  fas fa-angle-left" href="javascript:page_left()"></a>&nbsp;
                <a class="page-link d-none d-md-inline-block page-link-last" href="javascript:page_last()">
                    <i class="fas fa-angle-double-left d-none d-md-inline-block"></i>
                </a>&nbsp;
                <a class="page-link" href="javascript:page(1)">1</a>&nbsp;
                <a class="page-link" href="javascript:page(2)">2</a>&nbsp;
                <a class="page-link" href="javascript:page(3)">3</a>&nbsp;
                <a class="page-link" href="javascript:page(4)">4</a>&nbsp;
                <a class="page-link" href="javascript:page(5)">5</a>&nbsp;&nbsp;
                <a class="page-link d-none d-md-inline-block page-link-next" href="javascript:page_next()">
                    <i class="fas fa-angle-double-right d-none d-md-inline-block"></i>
                </a>&nbsp;
                <a class="page-link fas fa-angle-right" href="javascript:page_right()"></a>&nbsp;
            </span>
        </div>
    </div>
</div>


