@page
@model trip_chill_view.Pages.productListModel
@{
    //ViewData["Title"] = "Home page55";
}
<link rel="stylesheet" href="~/css/search-group.css">
<style>
    a.disabled1 {
        /* Make the disabled links grayish*/
        color: #dee2e6;
        /* And disable the pointer events */
        pointer-events: none;
    }
    #ctl00_ContentPlaceHolder1_listDP {
        --bs-pagination-font-size:22px;
    }
</style>
<div class="Wrapper-hot-color">
    <div class="container">
        <div class="col-group-title-hot-01">
            <h3>商品列表</h3>
        </div>
        <div>
            <hr>
        </div>
        <div class="row productListRow">

        </div>
        
        <div class="d-flex justify-content-center couse-pagination mb-md-4 mb-3 my-5">
            <span id="ctl00_ContentPlaceHolder1_listDP">
                <a class="page-link  fas fa-angle-left" href="javascript:page_left()"></a>&nbsp;
                <a class="page-link d-none d-md-inline-block page-link-last" href="javascript:page_last()">
                    <i class="fas fa-angle-double-left d-none d-md-inline-block"></i>
                </a>&nbsp;
                <a class="page-link" href="javascript:page(1)">1</a>&nbsp;
                <a class="page-link" href="javascript:page(2)">2</a>&nbsp;
                <a class="page-link" href="javascript:page(3)">3</a>&nbsp;
                <a class="page-link" href="javascript:page(4)">4</a>&nbsp;
                <a class="page-link" href="javascript:page(5)">5</a>&nbsp;&nbsp;
                <a class="page-link d-none d-md-inline-block page-link-next" href="javascript:page_next()">
                    <i class="fas fa-angle-double-right d-none d-md-inline-block"></i>
                </a>&nbsp;
                <a class="page-link fas fa-angle-right" href="javascript:page_right()"></a>&nbsp;
            </span>
        </div>
    </div>
</div>


