@page
@model trip_chill_view.Pages.profileModel
@{
}
<link href="~/css/f7a573d.css" rel="stylesheet">
<link href="~/css/fcc431.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/search-group.css">
<script>
   
   
</script>
<style>
    .flex .acount-user-image {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-size: cover;
        background-color: #c5c5c5;
        background-repeat: no-repeat;
    }
</style>

<meta data-n-head="1" name="viewport" content="width=device-width, initial-scale=1">
<div class="Wrapper-hot-color">
    <div class="container">
        <div class="col-group-title-hot-01">
            <h3>帳戶設定</h3>
        </div>
        <div class="mb-6">
            <hr>
        </div>
        <div data-v-1125327c="" class="w-full mq-1600:pr-[15px] sn-800:px-[15px]">
            <div data-v-1125327c="" class="mb-6 w-full max-w-[1500px] rounded-md bg-white px-8 pt-[25px] pb-[33px] shadow-blur sn-640:h-full sn-640:px-6 sn-500:mb-[15px] sn-500:px-3 sn-500:py-3">
                <div data-v-1125327c="" class="mb-[26px] flex items-center sn-640:mb-[15px] sn-640:flex sn-640:flex-col sn-640:items-center">
                    <p data-v-1125327c="" class="text-[24px] text-hi-price sn-500:text-[18px]">信箱驗證</p>
                    <div data-v-1125327c="" class="icon flex items-center pl-2 sn-640:pl-0">
                        <div data-v-1125327c="" class="flex items-center sm:ml-[-7px]">
                            <p data-v-1125327c="" class="text-[16px] text-gray-500 sn-640:mt-2">避免漏掉購課收據等重要資訊</p>
                        </div>
                    </div>
                </div>
                <div data-v-1125327c="" class="mb-4 w-full sn-640:mb-4">
                    <div data-v-1125327c="" class="relative">
                        <input data-v-1125327c="" id="input_email" type="email" disabled="disabled" placeholder="請輸入常用的電子信箱" class="input-text pl-[85px]">
                        <div data-v-1125327c="" class="absolute left-0 top-1/2 flex w-[55px] -translate-y-1/2 transform items-center text-[12px] text-gray-600">
                            <p data-v-1125327c="" class="min-w-[80px] px-3 text-[14px] text-red-1">未驗證<span id="email" data-v-1125327c="" class="ml-3 h-full border-r-1 border-solid border-gray-300"></span></p>
                        </div>
                    </div>
                </div>
                <div data-v-1125327c="" class="flex justify-center min-md:justify-start">
                    <button data-v-1125327c="" class="btn-outline-primary mr-5 min-w-[120px] py-2 min-md:min-w-[200px]">寄送驗證信</button>
                    <button data-v-1125327c="" class="btn-primary rounded-default py-2 min-md:min-w-[200px] min-w-[120px]">更改信箱</button>
                </div>
            </div>

            <div data-v-1125327c="" id="social" class="w-ful mb-6 max-w-[1500px] rounded-md bg-white px-8 py-5 shadow-blur sn-640:px-6 sn-500:mb-[15px] sn-500:px-2 sn-500:py-2">
                <div data-v-1125327c="" class="mb-[26px] flex items-center sn-640:mb-[15px] sn-640:flex sn-640:flex-col sn-640:items-center"><p data-v-1125327c="" class="text-[24px] text-hi-price sn-500:text-[18px]">登入方式</p> <div data-v-1125327c="" class="icon flex items-center pl-2 sn-640:pl-0"><div data-v-1125327c="" class="flex items-center sm:ml-[-7px]"><p data-v-1125327c="" class="text-[16px] text-gray-500 sn-640:mt-2">多種登入方式更便利</p></div></div></div> 
               
                <div data-v-1125327c="" class="fb-bind bar relative mb-3 flex min-h-[76px] items-center rounded-md bg-hi-white sm:mb-2 sm:min-h-[60px]">
                    <img data-v-1125327c="" src="https://hiskio.com/images/icon-facebook.svg" alt="social icon" class="social-icon ml-5 h-10 w-10 sn-640:ml-[14px] sn-500:text-[14px]"> 
                        <div data-v-1125327c="" class="fb-bind-picture ml-5 h-10 w-10 flex-shrink-0 rounded-full sn-500:h-8 sn-500:w-8 sm:ml-3" data-src="https://graph.facebook.com/v2.5/1888003148253857/picture?width=200&amp;height=200" style="background-size: cover; background-image: url(&quot;https://graph.facebook.com/v2.5/1888003148253857/picture?width=200&amp;height=200&quot;);" lazy="loaded"></div> 
                        <div data-v-1125327c="" class="fb-bind-name ml-5 flex-grow break-all text-[16px] sn-500:text-[14px] sm:ml-2 text-gray-700">
                        Irving Lin
                         </div> <div data-v-1125327c="" class="ml-5 flex-shrink-0 pr-5">
                        <button data-v-1125327c="" class="fb-bind-btn btn-text-underline-gray-600 text-[14px] text-gray-600">
                            取消綁定
                        </button>
                    </div>
                </div>
                <div data-v-1125327c="" class="google-bind bar relative mb-3 flex min-h-[76px] items-center rounded-md bg-hi-white sm:mb-2 sm:min-h-[60px]">
                    <img data-v-1125327c="" src="https://hiskio.com/images/icon-google.svg" alt="social icon" class="social-icon ml-5 h-10 w-10 sn-640:ml-[14px] sn-500:text-[14px]">
                    <div data-v-1125327c="" class="google-bind-picture ml-5 h-10 w-10 flex-shrink-0 rounded-full sn-500:h-8 sn-500:w-8 sm:ml-3" data-src="https://thumbnails.f5ezcode.in/eyJidWNrZXQiOiJjZG4uaGlza2lvLmNvbSIsImtleSI6IiIsImVkaXRzIjp7IndlYnAiOnt9LCJyZXNpemUiOnsiZml0IjoiY292ZXIiLCJ3aWR0aCI6MzAwfX19" style="background-size: cover; display: none; background-image: url(&quot;https://thumbnails.f5ezcode.in/eyJidWNrZXQiOiJjZG4uaGlza2lvLmNvbSIsImtleSI6ImltYWdlc1wvaW1nLXJlbG9hZC1jb3Zlci5wbmciLCJlZGl0cyI6eyJ3ZWJwIjp7fSwicmVzaXplIjp7ImZpdCI6ImNvdmVyIiwid2lkdGgiOjMwMH19fQ==&quot;);" lazy="loading"></div>
                    <div data-v-1125327c="" class="google-bind-name ml-5 flex-grow break-all text-[16px] sn-500:text-[14px] sm:ml-2 text-gray-500">
                        尚未綁定帳號
                    </div>
                    <div data-v-1125327c="" class="ml-5 flex-shrink-0 pr-5">
                        <button data-v-1125327c="" class="google-bind-btn btn-text-underline-gray-600 text-[14px]">
                            進行綁定
                        </button>
                    </div>
                </div>
            </div>


            <div id="basic" class="basic mb-6 w-full max-w-[1500px] rounded-md bg-white px-8 py-5 shadow-blur sn-640:flex sn-640:flex-col sn-640:items-center sn-640:px-6 sn-500:mb-[15px] sn-500:px-2 sn-500:py-[15px] sn-500:pb-[13px]">
                <div class="flex items-center pb-[30px] sn-640:flex-col sn-640:items-center sn-640:pb-3">
                    <p class="mr-2 mb-1 text-[24px] text-hi-price sm:mr-0 sm:text-[20px]">基本資料</p>
                    <div class="flex items-center md:items-start"><p class="text-[16px] text-gray-500">讓我們更了解你</p></div>
                </div>
                <div class="layout flex w-full justify-between md:flex-col-reverse">
                    <div class="left-cont min-w-[316px]">
                        <div class="mb-6">
                            <p class="mb-3 text-[14px] text-gray-700">會員暱稱</p>
                            <input id="userName" placeholder="輸入你的暱稱" class="input-text px-3" v-model="VuserName">
                        </div>
                        <div>
                            <p class="text-[14px] text-gray-700">會員性別</p>
                            <div id="sexSelect" class="mt-[18px] mb-[26px] flex sn-500:my-[10px]">
                                <div class="mr-10">
                                    <label for="MALE" class="ml-[5px] flex cursor-pointer items-center text-[14px] text-gray-700">
                                        <input name="sex" type="radio" class="mr-[5px] cursor-pointer" value="0">
                                        男
                                    </label>
                                </div><div class="mr-10">
                                    <label for="FEMALE" class="ml-[5px] flex cursor-pointer items-center text-[14px] text-gray-700">
                                        <input name="sex" type="radio" class="mr-[5px] cursor-pointer" value="1">
                                        女
                                    </label>
                                </div><div class="mr-10">
                                    <label for="OTHER" class="ml-[5px] flex cursor-pointer items-center text-[14px] text-gray-700">
                                        <input name="sex" type="radio" class="mr-[5px] cursor-pointer" value="2">
                                        其它
                                    </label>
                                </div>
                            </div>
                        </div> <div class="mb-6 sn-500:mb-2">
                            <p class="mt-1 mb-2 text-[14px] text-gray-700">出生年月日</p>
                            <div class="flex items-center">
                                <div class="account-basic-select relative min-w-[96px] sn-500:min-w-[60px]">
                                    <select id="birthSelect" class="outline-none flex h-10 w-full cursor-pointer rounded-md border-1 border-solid border-gray-500 bg-white px-3 leading-10 text-gray-700 sn-500:px-2">
                                        <option value="1935" class="border-b border-solid border-hi-input-gray pl-3 leading-10 hover:bg-hi-input-gray">1935</option>

                                    </select>
                                </div>
                                <p class="px-3 text-[14px] text-gray-700 sn-500:px-2">年</p>
                                <div class="account-basic-select relative min-w-[96px] sn-500:min-w-[60px]">
                                    <select id="monthSelect" class="outline-none flex h-10 w-full cursor-pointer rounded-md border-1 border-solid border-gray-500 bg-white px-3 leading-10 text-gray-700 sn-500:px-2 cursor-not-allowed bg-hi-courses-box"></select>
                                </div>
                                <p class="px-3 text-[14px] text-gray-700 sn-500:px-2">月</p>
                                <div class="account-basic-select relative min-w-[96px] sn-500:min-w-[60px]">
                                    <select id="daySelect" class="outline-none flex h-10 w-full cursor-pointer rounded-md border-1 border-solid border-gray-500 bg-white px-3 leading-10 text-gray-700 sn-500:px-2 cursor-not-allowed bg-hi-courses-box">
                                        <!--disabled="disabled" -->
                                    </select>
                                </div> <p class="px-3 text-[14px] text-gray-700 sn-500:px-2">日</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex w-auto flex-col items-center md:mr-0">
                        <!-- <div class="image-box relative flex h-[160px] w-[160px] items-center justify-center overflow-hidden rounded-full bg-gray-400 sn-500:h-[120px] sn-500:w-[120px]">
        <div class="acount-user-image h-full w-full" style="background-image: url(&quot;https://graph.facebook.com/v2.5/1888003148253857/picture?width=200&amp;height=200&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;"></div>
        <label class="transition absolute flex h-10 w-full cursor-pointer justify-center bg-hi-input-gray pt-[5px] text-[16px] text-gray-600 duration-500 hover:bottom-0 sn-500:h-[30px] sn-500:text-[12px] -bottom-10">
            <input type="file" accept=".jpg, .png" class="hidden">
            編輯頭貼
        </label>
    </div>-->                      
                       <div class="acount-user-image" style=""></div>
                        <p class="mt-4 text-[14px] text-gray-500 md:mt-2 md:mb-5">檔案大小限制1MB以下</p>
                    </div>
                </div>
                <button id="saveBtn" class="default-solid-btn mt-4 text-[14px] sn-500:mt-[5px]">儲存</button>
            </div>
        </div>

    </div>
</div>
