@page
@model trip_chill_view.Pages.trip_and_save_tipModel
@{
}
<link rel="stylesheet" href="~/css/search-group.css">
<div class="Wrapper-hot-color">
    <div class="container">
        <div class="col-group-title-hot-01">
            <h3>簡介</h3>
            <!--<p>精選近3個月暢銷課程，緊跟潮流!</p>-->
        </div>
        <div>
            <hr>
        </div>


    </div>
</div>