@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	background-repeat: repeat;
	font-family: Roboto, arial, "Noto Sans TC", "Microsoft JhengHei", "sans", "sans-serif";
	background-color: #fafafa;
				/* background-image: url(../images/bg.jpg); */
}